<template>
  <div class="ch-card-info">
      <div class="ch-card-img"><img :src="imgPath" :alt="cardName"></div>
      <div class="ch-name">{{  cardName  }}</div>
  </div>
</template>
<script>
export default {
    props: {
        imgPath: {
            type: String,
            required: true
        },
        cardName: {
            type: String,
            required: true
        }
    }
}
</script>
