div.error-box {
    width: 300px;
    border: #eeeeee 1px solid;
    background-color: #f5f5f5;
    margin: 0 auto;
    padding: 20px 0;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    -webkit-box-shadow: 1px 1px 1px 1px #EDEDED;
    box-shadow: 1px 1px 1px 1px #EDEDED;
}
div.error-box div.in-icon i {
    font-size: 84px;
    color: #666666;
}
div.error-box div.in-code {
    font-size: 24px;
    font-weight: 600;
}


div.sq-login-box {
    width: 350px;
    margin: 0 auto;
    padding-top: calc(50vh - 153px);
}
div.sq-login-box div.img-box img {
    width: 100%;
}


span.sq-status-badge {
    background-color: #ac0000;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    padding: 10px 15px 10px 5px;
    color: #ffffff;
}
span.sq-status-badge span {
    background-color: #ffffff;
    color: #333333;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    padding: 5px 10px;
}


div.sq-ending-thumb-box {
    width: 120px;
    background-color: #001b89;
    text-align: center;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}
div.sq-ending-thumb-box div.in-thumb {
    padding-top: 10px;
}
div.sq-ending-thumb-box div.in-thumb img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}
div.sq-ending-thumb-box div.in-text {
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 5px;
    font-weight: 600;
}

.sq-ballon {
    border: #333333 1px solid;
    width: 320px;
    position: relative;
    background: #333333;
    color: #ffffff;
    border-radius: 5px;
    padding: 12px 12.8px;
    -webkit-box-shadow: 3px 3px 3px 3px #D1D1D1;
    box-shadow: 3px 3px 3px 3px #D1D1D1;
}


.sq-ballon:after {
    border-top: 10px solid #333333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    top: 35px;
    left: 160px;
}

.ch-header{
    text-align: center;
    margin-bottom: 50px;
}
.ch-header > .ch-header-first{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}
.ch-header > .ch-header-second{
    font-weight: 900;
    font-size: 42px;
    margin-bottom: 20px;
}
.ch-header > .ch-header-third{
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5em;
}
.ch-nav > ul{
    display: flex;
    gap: 30px;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 30px;
    font-size: 16px;
}
.ch-card-info-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.ch-card-info-wrap > .ch-card-info{
    width: 200px;
    height: 250px;
    overflow: hidden;
}
.ch-card-info-wrap > .ch-card-info img{
    width: 100%;
    height: auto;
}
.ch-card-info-wrap > .ch-card-info img:hover{

    transform: scale(1.2, 1.2);
    transition-duration: 0.5s;
}
.ch-card-info-wrap > .ch-card-info{
    position: relative;
    margin: 20px;
}
.ch-card-info-wrap > .ch-card-info > .ch-name{
    width: 170px;
    height: 50px;
    padding-left: 30px;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    background-color: #174407;
    color: #ffffff;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    overflow: hidden;
}
.ch-card-info-wrap > .ch-card-info:hover > .ch-name{
    background-color: #21610b;
}
