<template>
    <div class="ch-main-wrap">
        <div class="ch-header">
            <p class="ch-header-first">챔피언을</p>
            <p class="ch-header-second">선택하세요</p>
            <p class="ch-header-third">140여 명의 챔피언 중 자신의 플레이 스타일에 어울리는 챔피언을 찾아보세요. <br />
                한 명의 챔피언을 완벽히 익히거나 모든 챔피언을 사용해 볼 수도 있습니다.</p>
        </div>
        <section>
            <div class="ch-nav">
                <ul>
                    <li>전체</li>
                    <li>암살자</li>
                    <li>전사</li>
                    <li>마법사</li>
                    <li>원거리 딜러</li>
                    <li>서포터</li>
                    <li>탱커</li>
                </ul>
            </div>
            <div class="ch-card-info-wrap">
            <champ-info
                v-for="(item, index) in cards"
                v-bind:key="index"
                v-bind:card-name="item.cardName"
                v-bind:img-path="item.photoPath"
            />
                <champ-info
                    v-for="(item, index) in cards"
                    v-bind:key="index"
                    v-bind:card-name="item.cardName"
                    v-bind:img-path="item.photoPath"
                />
            </div>
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return{
            cards:[
                {
                    photoPath: '/images/card/card_photo_1.jpg',
                    cardName: '가렌'
                },
                {
                    photoPath: '/images/card/card_photo_2.jpg',
                    cardName: '갈리오'
                },
                {
                    photoPath: '/images/card/card_photo_3.jpg',
                    cardName: '갱플랭크'
                },
                {
                    photoPath: '/images/card/card_photo_4.jpg',
                    cardName: '그라가스'
                },
                {
                    photoPath: '/images/card/card_photo_5.jpg',
                    cardName: '그레이브'
                }
            ]
        }
    }
}
</script>
